$desktop: "(min-width: 768px)";
$mobile: "(max-width: 768px)";

$base-font-size: 16px;

@mixin font-rem($font-size, $line-height:false, $important:false) {
    @if $important {
      font-size:$font-size !important;
      font-size:($font-size / $base-font-size)*1rem !important;
      @if $line-height {
          line-height: ($line-height / $font-size)*1 !important;
      }
    } @else {
        font-size:$font-size;
        font-size:($font-size / $base-font-size)*1rem;
        @if $line-height {
            line-height: ($line-height / $font-size)*1;
        }
    }

}

@mixin kerning($kerning, $important:false) {
    @if $important {
        letter-spacing: $kerning/1000*1rem !important;
    } @else {
        letter-spacing: $kerning/1000*1rem;
    }
}

