@import "utils/mixins.scss";
@import "utils/typography.scss";

// Vendors
// Nprogress
@import 'nprogress/nprogress';
@import 'overrides/nprogress.scss';
// Wow
@import 'wow.js/css/libs/animate';

.well {
    border-radius: 0;
}

.navbar_wrapper .navbar {
    @media #{$desktop} {
        margin-bottom: -5px;
        margin-top: 20px;
        box-shadow: 0px 0px 35px rgba(0,0,0,.5);
    }
}

.no-gutters-sm {
    @media #{$mobile} {
        margin: 0 -15px;
    }
}

.navbar-form {
    @media #{$mobile} {
        margin: 0;
    }
}

.map_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100;
    z-index: -1;
    .map_wrapper {
        width: 100%;
        height: 100%;
    }
    
}

.drivers-options {
    @media #{$mobile} {
        position: fixed;
        width: 100%;
        bottom: 0;
        .btn-group {
            width: 100%;
            button {
                display: block;
                float: none;
                margin: 0!important;
                width: 100%;
                border: solid 1px transparent;
                border-radius: 0!important;
            }
        }
        .text-muted {
            float: none!important;
        }
    }
}

.drivers-wrapper {
    min-width: 400px;
    width: 30%;
    z-index: 1000;
    position: fixed;
    top: 0;
    height: 100%;
    right: 0;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 20px rgba(0,0,0, .5);
    .close-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        border-radius: 50px;
        @media #{$desktop} {
            border: none;
            background: transparent;
        }
        @media #{$mobile} {
            right: 30px;
            top: auto;
            bottom: 30px;
            height: 58px;
            line-height: 51px;
            font-size: 30px;
        }
    }
    @media #{$mobile} {
        bottom: 0;
        top: auto;
        left: 0;
        height: 100%;
        width: 100%;
    }
}